@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    box-sizing: border-box;
}

#main {
    // background: linear-gradient(180deg, #21c25e, #1ce267);
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    height: 100vh;
}